* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: bold;
}
h1{
	position: absolute;
	top: 10px;
}
input, select{
	outline: none;
	border-radius: 5px;
	border-width: 1px;
	font-size: 18px;
}
select{
	line-height: 2em;
}
input::placeholder{
	font-size: 18px;
}
.form-wrap{
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d7d8da;
}
.form-group:first-child{
	display: flex;
	text-align: center;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.form-group:first-child label{
	margin: 10px 20px;
	
}
.form-group:nth-child(2){
	display: flex;
	text-align: left;
	justify-content: start;
	align-items: center;
	margin-top: 70px;

}
.form-group:nth-child(2) label{
	margin: 10px 26px;
}
#test{
	position: relative;
	width: 80%;
	height: fit-content;
	background-color:  #ffffff;
	padding: 10px;
	border-radius: 50px;
	background: #d7d8da;
	box-shadow:  -20px 20px 60px #b7b8b9,
             20px -20px 60px #f7f8fb;
	
}
#camp{
	width: 40%;
	padding: 10px;
	border: none;
	border-radius: 15px;
	padding: 15px;
	background-color: #e8e8e8;
	box-shadow: 6px 6px 12px #ffffff,
				-6px -6px 12px #c5c5c5;
	font-size: medium;
	font-weight: bold;
}
#response{
	width: 63%;
	height: 70px;
	padding: 10px;
	border: none;
	border-radius: 15px;
	padding: 15px;
	background-color: #e8e8e8;
	box-shadow: 6px 6px 12px #ffffff,
				-6px -6px 12px #c5c5c5;
	font-size: medium;
	font-weight: bold;
}
   
input:focus, select:focus {
	outline-color: white;
	place-content: "Enter your message!";
}

#send, #next_quest{
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px 10px;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 5px;
	width: 9em;
	height: 3em;
	border-radius: 30em;
	font-size: 15px;
	font-family: inherit;
	border: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 6px 6px 12px #ffffff,
				-6px -6px 12px #c5c5c5;
}
#send::before, #next_quest::before{
	content: '';
	width: 0;
	height: 3em;
	border-radius: 30em;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right, #000000 0%, #000000 100%);
	transition: .5s ease;
	display: block;
	z-index: -1;
}
#send:hover, #next_quest:hover{
	color: #fff;
	transition: .5s;
}
#send:hover::before, #next_quest:hover::before {
	width: 9em;
}
.timer{
	position: absolute;
	right: 60px;
	top: 40%;
}
.success_window{
	display: none;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	border-radius: 50px;
	background: #d7d8da;
    box-shadow: -20px 20px 60px #b7b8b9, 20px -20px 60px #f7f8fb;
	z-index: 5;
	justify-content: center;
	align-items: center;
}
.success_window.active{
	display: flex;
}
.success_window p{
	line-height: 2.5rem;
	margin-top: -40px;
}
.success_window span{
	position: absolute;
	bottom: 10px;
	color: rgb(125, 125, 125);
	font-size: 12px;
}

#next_quest{
	position: absolute;
	bottom: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
}